
    
    <div class="container pt-24 md:pt-48 px-6 mx-auto flex flex-wrap flex-col md:flex-row items-center">
		
		<!--Left Col-->
		<div class="flex flex-col w-full xl:w-5/5 justify-center lg:items-start overflow-y-hidden p-4">
			<h1 class="my-4 text-3xl md:text-5xl text-purple-800 font-bold leading-tight text-center md:text-left slide-in-bottom-h1">Blog - Ruby on Rails</h1>
			<p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left slide-in-bottom-subtitle">Vous trouverez tous les articles du blog Ruby !</p>
			
            <% @articles.each do |article| %>
                <div class="flex bg-white w-full justify-center md:justify-around items-center pb-24 mb-2 lg:pb-0 fade-in shadow">
                    <div class="flex-col w-full md:w-1/6 justify-end items-center fade-in p-2">
                        <img class="" src="https://img.icons8.com/cute-clipart/64/000000/user-male.png">
                        <p class="text-purple-300">Created :</br> <%= time_ago_in_words(article.created_at) %> ago</p>
                    </div>
                    <div class="flex w-full justify-center md:justify-around items-center">
                        
                        <p class="w-1/3"><%= article.title %></p>
                        <p class="text-gray-300 w-1/3"><%= article.desc.truncate(10) %></p>
                        <a href="/articles/<%= article.id %>" class=" bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2" ><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            <% end %>
		</div>
		
		<!--Right Col-->
		<!-- <div class="w-full xl:w-2/5 py-6 overflow-y-hidden">
			<img class="w-5/6 mx-auto lg:mr-0 slide-in-bottom" src="assets/devices.svg">
		</div> -->
		
		<!--Footer-->
		<div class="w-full pt-16 pb-6 text-sm text-center md:text-left fade-in">
			<a class="text-gray-500 no-underline hover:no-underline" href="#">&copy; Blog 2019</a>
		</div>
		
	</div>

