// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
    color:red;
}
#category_name {
    background: #eeeeee;
}
#category_desc {
    background: #eeeeee;
}
#submit {
    background: #2C6DB0;
    border-radius:0.25rem;
    padding: 0.5rem 1rem;
    color:#fff;

}
